.background {
  height: 100%;
  width: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  z-index: -1;
  filter: blur(0px);
  position: fixed;
}

.app {
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #7d0188, #210294); */
  overflow-y: hidden;
  position: relative;
}

.appBorder {
  margin-left: 15%;
  margin-right: 15%;
}

.app::-webkit-scrollbar {
  display: none;
}
