.app {
  min-height: 100vh;
  background: linear-gradient(to bottom, #7d0188, #210294);
  overflow-y: hidden;
}

.appBorder {
  margin-left: 15%;
  margin-right: 15%;
}

.app::-webkit-scrollbar {
  display: none;
}
